<div class="col-xs-12 col-sm-7" style="min-width: 400px;">
  <div class="result">
    <div class="col-xs-4 col-md-3 image">
      <%= link_to image_tag(notification.stock.primary_image_url), stock_path(notification.stock) %>
    </div>

    <div class="col-xs-8 col-md-9 description">
      <h2><%= link_to notification.title, stock_path(notification.stock.id) %></h2>
      <%= notification.description %><br>
      <i>Received <%= time_ago_in_words(notification.created_at) %> ago</i>
    </div>
  </div>
</div>