<div class="row result">
  <div class="col-xs-4 image">
    <%= link_to image_tag(stock.photos.first.image.url), stock_path(stock) %>
  </div>
  <div class="col-xs-4">
    <%= link_to stock.label, stock_path(stock) %>
  </div>
</div>