<h2>Stock items</h2>
<div class="results">
  <% @user.stock.each do |st| %>
    <div class="row result">
      <div class="col-xs-4 image">
        <%= image_tag st.photos.first.image.url %>
      </div>
      <div class="col-xs-4">
        <%= link_to st.label, stock_path(st.id) %>
      </div>
      <div class="col-xs-4">
        <%= number_to_currency(st.price) %>
      </div>
    </div>
  <% end %>
</div>