<h3>Token Count: <%= @user.token_count %></h3>
<%= link_to "Add more tokens", "#", class:"btn btn-default"%>
<br>
<br>
<ul>
  <li> <%= link_to "Change username", "#" %> </li>
  <li> <%= link_to "Change password", "#" %> </li>
</ul>