<div class="col-md-12">
  <h1> What is Rafflr?</h1>
</div>
<div class="flat-yellow container">
  <div>
    <div class="col-md-3">
      <h3>Raffling</h3>
      <p class="summary"> Raffle your items off to anyone! </p>
      <p class="content"> List your item with a name, description, photos,
        and a token amount, and let the raffling begin!  </p>
    </div>
    <div class="col-md-3">
      <h3>Buying</h3>
      <p class="summary"> Buy tokens to bid on raffles </p>
      <p class="content"> Top up your account with tokens, which allow you to bid on a raffle
         and puts you in the draw to win the item!  </p>
    </div>
    <div class="col-md-3">
      <h3> Token Chance </h3>
      <p class="summary"> More Tokens = Higher Chance</p>
      <p class="content"> Every token you bid on an item gives you one more chance to win
      , you can even bid on every token slot if you want! </p>
    </div>
  </div>
</div>