/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "search";
@import "transactions";
@import "navigation";

$colour_primary: #8ac7ce;
$colour_secondary: #a1cdd2;
$colour_accent: #a2a2a2;
$colour_primary_text: #999999;
$colour_primary_background: #f7f8f9;

body {
  min-width: 400px;
  background-color: $colour_primary_background;
}
.primary-colour{
  color:$colour_primary;
}
h2{
  font-size: 35px;
}
h3{
  color:$colour_primary;
  font-size: 25px;
}
p.summary{
  font-weight: bold;
  font-size: 18px;
}
p.content{
  font-size: 18px;
  font-weight: 200;
}
.header {
  background-color: $colour_primary;
  background-image: linear-gradient($colour_primary, $colour_secondary);
  color: $colour_primary_text;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;

  .btn-group, .input-group {
    margin: 20px 0 20px 0;
  }
}

.footer {
  text-align: center;
  //margin-top: 50px;
  background-color: $colour_secondary;
  color: $colour_primary_text;
  padding: 20px;
  a, a:hover {
    text-decoration: none;
    color: $colour_primary_text;
  }
}


.title {
  color: $colour_accent;
  padding: 10px;
  h1 {
    margin: 0;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .vcenter {
    display: flex;
    align-items: flex-end;
  }
}

.error {
  background-color: red;
}
.warning {
  background-color: yellow;
  p {
    color: black;
  }
}
.success {
  background-color: #5CB85C;
}

.body-wrap {
  padding: 5px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    /* colour behind images that do not take up all the space */
    background-color: $colour_primary_background; /* or #0f0f0f */
}

.slider-size {
    min-height: 480px;
    height: 100%;
}
.panel-margin{
  padding: 10px;
  p{
    font-size: 20px;
  }
}
.hamburger {
  position: absolute !important;
}

.panel-login {
  margin: auto;
  max-width: 500px;
}

.divider{
  width: 80%;
  max-width: 500px;
  height: 2px;
  display: block;
  background-color: #7d5d81;
  margin: auto;
}
.flat{
  margin-top:-5px;
  margin-bottom:5px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #8e8b8b;
  padding: 0px 0px 20px 0px;
}
.flat-green{
  @extend .flat;
  background-color: #a6ef7e;
}

.flat-yellow{
  @extend .flat;
  background-color: #fff38c;
}

html, body {
  height: 100% !important;
}
.wrapper {
  min-height: 100% !important;
  margin: 0 auto -175px !important; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  margin-top: 20px;
  height: 155px !important; /* .push must be the same height as .footer */
}