$colour_primary: #8ac7ce;
.result {
  vertical-align: top;
  box-shadow: 0 0 3px 2px #b4b4b4;
  background-color: $colour_primary;
  white-space: nowrap;
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius:  10px;
  display: inline-block;

  a {
    color: black;
  }

  .image, .description {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image {
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 10%;
    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .description {
    h2 {
      margin: 0;
    }
  }
}
.completed{
  background-color: #ececec;
}