// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.result {
    vertical-align: top;
    background-color: #dfdfdf;

    a {
        color: black;
    }

    .price {}

    .image {
        width: 150px;

        img {
            width: 100%;
            margin: 10px;
        }
    }
}
